.register_bg *{
  font-family: 'Poppins';
  /* outline: 1px red dotted; */
}
.register_bg.active, .signup_page.active, .login_page.active {
  display: flex !important;
  transition: all 0.5s ease;
}
.register_bg{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(114, 114, 114, 0.827);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  & >img{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
  }
  & .login_page *{
    /* outline: 1px red dotted; */
  }
  & .page{
    width: clamp(600px,40%,500px);
    height: 90%;
    background-color: #fff;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 50px;
    & .signup_page, .login_page{
      height: clamp(500px,100%,500px);
      display: none;
      flex-direction: column;
      justify-content: space-between;
      & h1{
        color: #870007;
      }
      & form{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & >div{
          display: flex;
          flex-direction: column;
          & input{
            height: 40px;
            border-radius: 5px;
            padding: 0 5%;
            font-size: 20px;
            border: none;
            background-color: #D6CBCB;
          }
          
          
        }
        & input[type=submit]{
          height: 40px;
          background-color: #ff232e;
          color: #fff;
          /* margin: 15px 0; */
          font-size: 24px;
          border: none;
          border-radius: 5px;
        }
      }      
      & .medias{
        display: flex;
        justify-content: space-evenly;
        padding: 0 30%;
        margin-top: 20px;
        & >img{
          width: 40px;
          height: 50px;
        }
      }
      
      & p{
        text-align: center;
        & strong{
          color: #ff232e;
          text-decoration: underline;
          font-weight: bold;
          cursor: pointer;
        }
      }
      /* & .or{
        display: none;
        width: 100%;
        height: 2px;
        margin: 30px 0;
        background-color: #ff232e;
        position: relative;
      }
    
      & .or::after{
        content: 'OR';
        font-size: 12px;
        width: 30px;
        height: 20px;
        background-color: #ff232e;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 1px;
      } */
            
    }
    & .login_page{
      display: none;
      & form{
        justify-content: center;
        & >div>input{
          margin-top: 10px;
          height: 50px;
        }
        & >div, input[type = submit]{
          margin: 20px 0;
        }
      }
  
    }
  }
  
  
}

main *{
  /* outline: 1px dotted red; */
  font-family: 'Poppins';
}
.intro{
  width: 100%;
  height: 500px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 20px;
  font-weight: 900;
  display: flex;
}

.intro_contents{
  width: 100%;
  height: 100%;
  padding: 120px;
  display: flex;
}

.introduction{
  position: relative;
}

.introduction::after{
  content: '';
  position: absolute;
  height: 160px;
  width: 8px;
  background-color: #ff232e;
  top: 15px;
  left: -15px;
  z-index: 1;
}

.introduction h1{
  font-size: 36px;
  font-weight: bolder;
  background: linear-gradient(90deg, #E77777 0%, #A00000 81.44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction p{
  margin-top: 10px;
  line-height: 2;
  /* font-we */
}

.shop_now{
  width: 130px;
  height: 40px;
  border-radius: 20px;
  margin: 15px;
  background: linear-gradient(90deg, #E77777 0%, #ff0e0e 87.44%);
  color: #f4f4f4;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1.9px;
}

.image{
  padding: 100px;
  position: relative;
  overflow: hidden;
  /* outline: #000000 1px solid; */
  width: 100%;
  height: 100%;
}

.image>div{
  z-index: 1;
  background-image: url(../images/ezgif-2-94d6e7ecd4-removebg-preview.png);
  position: relative;
  height: 300px;
  width: 600px;

}

.image::after{
  content: '';
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: linear-gradient(216deg, rgba(255, 255, 255, 0.80) 29.51%, rgba(166, 165, 167, 0.56) 85.2%);
  position: absolute;
  right: -15%;
  top: -50%;
  z-index: 0;
}

.image::before{
  content: '';
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.80) 8.68%, rgba(166, 165, 167, 0.56) 93.81%);
  position: absolute;
  left: 5%;
  bottom: 15%;
  z-index: 0;
}

/*----------------------------------2------------------------------*/

.search_section{
  width: 100%;
  height: 50px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 20px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

.catagories{
  width: 30%;
  position: relative;
  cursor: pointer;
  & p, span{
    position: absolute;
    padding: 5px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  & p{
    left: 0;
    border: 2px solid #E77777;
  }
  
  & span{
    right:5px;
    width: auto;
    text-align: center;
    rotate: 90deg;
    translate: -100% -50%;
  }

  & .catagory_lists{
    display: none;
    position: absolute;
    top: 45px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    z-index: 1;
    & li{
      padding: 10px;
      border-bottom: 1px #000 dotted;
      
    }
  }
  & .catagory_lists.active{
    display: block;
  }

}

.search_bar{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
    & >.all-parts.active{
      display: block;
    }
    & >.all-parts{
      display: none;
      position: absolute;
      top: 43px;
      height: auto;
      width: 100%;
      border-radius: 0 0 20px 20px;
      background-color: #fff;
      z-index: 2;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
      & li {
        padding: 10px;
        border-bottom: 1px #000 dotted;
      }
    }
  & input, input:focus{
    width: 80%;
    padding:5px 10px;
    border: 2px solid #E77777;
  }
  & button{
    width: 18%;
    padding: 5px 0;
    background: linear-gradient(90deg, #E77777 0%, #A00000 81.44%);
    color: #fff;
  }
}

/*----------------------------------------------------*/

.discount_section *{
  /* outline: 1px red dotted; */
}

.discount_section{
  width: 100%;
  height: 300px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 10%;
  & >div{
    width: 100%;
    height: 100%;
    position: relative;
    & >span{
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      font-size: 32px;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }

    & >span:first-child{
      left: 0;
      top: 50%;
      translate: -50% -50%;
      display: none;
    }

    & >span:nth-child(2){
      right: 0;
      top: 50%;
      translate: 50% -50%;
    }

  }
  & .slide{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    & .discount_collection{
      width: 1950px;
      height: 100%;
      display: flex;
      transform: translateX(-1.33%);
      justify-content: space-evenly;
      transition: all 1.5s ease;
      & .discounts{
        width: 30%;
        height: 100%;
        /* background-image: url(/images/com_desktop_656x292_273.webp); */
        position: relative;
        & .discount_descriptions{
          position: absolute;
          color: #fff;
          font-weight: 900;
          -webkit-text-stroke: #000 0.4px;
          /* color: #fff; */
          bottom: 20px;
          left: 30px;
        }
       
        
      }
      .discount1{
        background-image: url(/images/com_desktop_656x292_289.jpg);
      }
      .discount2{
        background-image: url(/images/com_desktop_656x292_279.jpg);
      }
      .discount3{
        background-image: url(/images/shop_safely-dekstop_4.jpg);
      }
    }
  }

}



/*--------------------------------------------------------------*/

.product_section{
  width: 100%;
  padding: 50px 50px;
  height: 1000px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 5px;
}

.product_home *{
  /* outline: 1px red dotted; */
}

.product_home{
  /* outline: 1px red dotted; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 440px);
  /* gap: 50px; */
  & .products{
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .content1>.product_img{
      background-image: url(../images/32_timing_belt_vs_chain-removebg-preview.png);
    }
    & .content2>.product_img{
      background-image: url(../images/kisspng_car_auto_expo_spark_plug_motorcycle_internal_combu_spark-removebg-preview.png);
    }
    & .content3>.product_img{
      background-image: url(../images/Wagner-Group_Rotors\,Pads\,Fluid_022321-1686157797402.png);
    }
    & .content4>.product_img{
      background-image: url(../images/part-batteries-bu9094ra-no-back-us-removebg-preview.png);
    }
    & .content5>.product_img{
      background-image: url(../images/oil-filter-removebg-preview.png);
    }
    & .content6>.product_img{
      background-image: url(../images/png_clipart_oil_filter_air_filter_car_filtration_synthetic_oil_car-removebg-preview.png);
    }
    
    & .product_content{
      position: relative;
      width: 85%;
      height: 90%;
      padding: 10px;
      border-radius: 10px;
      background-color: #e5e5e5;
      & .product_img{
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
      }

      & .product_description h5{
        font-weight: bold;
      }

      & .product_description h1{
        color: #ff232e;
      }
      & .buttons{
        padding: 10px 20px;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        & a{
          /* outline: red 1px dotted; */
          padding: 5px 2%;
          width: 50%;
          margin: 0 5px;
          text-align: center;
        }

        & a:first-child{
          background: linear-gradient(90deg, #E77777 0%, #A00000 81.44%);
          color: #fff;
        }

        & a:last-child{
          border: 3px solid #E77777;
          color: #ff232e;
        }
      }
    }

  }
}

.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & ul{
    display: flex;
    & li{
      background-color: #D6CBCB;
      width: 50px;
      height: 30px;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
    }

    & li.active, li:not(.active):hover{
      background-color: #ff232e;
      color: #fff;
      border-radius: 30px;
      font-weight: 900;
      transform: scale(1.2);
    }
  }
}