*{
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Lato', sans-serif;
font-weight: 500;
list-style: none;
outline: 1px dotted red;
}
body{
background-color: #d9d9d9;
position: relative;
}
button{
border: none;
}
header{
width: 100%;
height: 55px;
background-color: #fff;
border-radius: 0 0 20px 20px;
display: flex;
justify-content: center;
align-items: center;
}
nav, .right, .tabs, .account{
display: flex;
justify-content: space-between;
}
nav{
width: 100%;
margin: 0 20px;
}
a{
color: inherit;
}
.tabs{
    text-transform: uppercase;
    font-weight: bolder;
    width: 70%;
    align-items: center;
}
.account{
width: 20%;
align-items: center;
margin-right: 40px;
}
.account button{
width: 70px;
height: 30px;
border-radius: 30px;
font-weight: 700;
border: none;
}

